* {
  box-sizing: border-box;
}
body {
    background-image: url('img/concrete_seamless.png');
}
#myName {
  background: #bd1104;
  color: white;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 3vw;
  font-weight: bold;
  }
.nav-item {
  border-left: 1px solid #efefef;
}
.nav-item:first-child {
  border-left: 0 none;
}
h1 {
  color: #bd1104;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  font-weight: bold;
  border-bottom: double black;
  padding-top: 55px;
  padding-bottom: 25px;
  margin: 0 25px 20px;
}
.main .container {
  margin-top: 40px;
  background: white;
}
footer {
  width: 100% auto;
  height: 60px;
  line-height: 50px;
  color: rgb(214, 211, 211);
  background: rgb(80, 80, 80);
  text-align: center;
  margin: 0px 10px 10px;
  border-top: 10px solid #bd1104;
}